$primary:#5265E1;
$secondary:gray;
$danger:rgb(233, 4, 145);

@import "./node_modules/bootstrap/scss/bootstrap.scss";


header {
    background-color: $danger;
    
}

button {
    color: $danger;
}
// .textheader{
//     // color: white;
    
//     // transition: 7s;
// }
.btn-cart {
    background: #5265E1;
}
li {
    color: $primary;
}
#grocery, #beauty, #clothes {
    color: $primary;
}

.card-footer button {
    color: white;
    background: $danger;
    border: white;   
}
.card-footer button:hover {
    color: white;
    // text-decoration:underline;
    border-bottom: $secondary;
    // font-weight: bold;
    background:$primary;
    // transition: str-slice($string: "", $start: -at, $end: -at);
}

footer{
    background-color: $danger;
}

footer p .text-copy {
    align-content: center;
}

#clothes {
    cursor: pointer;
}



//checkout

.is-invalid {
    border: 1px solid red;
  }

  #error-message {
    color: red;
    margin-top: 5px;
  }


  @media (min-width: 1200px) {

    /*S5*/
    .crd1 {
        margin-top: 10px;
        margin-bottom: 60px;
    }

    .crd2 {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .crd3 {
        margin-top: 60px;
        margin-bottom: 10px;
    }
}

@media (width >=576px) {

    /*S2*/
    .text-s2 {
        margin-top: 15px;
    }
}


// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {
//    .card {
//         margin-top: 10px;
//         margin-bottom: 60px;
//     }
// }
 
// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { 
//     .card {
//         padding: 20px;
//         margin-top: 10px;
//         margin-bottom: 60px;
//     }
// }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) { 

// }

// // X-Large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { 

// }

